---
import Container from '@/layouts/Container.astro'
---

<Container title="没有标题">
  <img src="/favicon.svg" class="w-32 h-32 inline-block" title="logo">
  <p>现在是一个写前端的，后端啥的也能写🤏，工作中主要用的语言JS、Dart，框架是VUE、Flutter</p>
  <p>学历大专，21年12月开始工作</p>
  <p>业余在发展Go、React</p>
  <p>你可以通过QQ<span class="inline-block text-$p-color mx-2">2646373724</span>、Email<span class="inline-block text-$p-color mx-2">zhxhyy@qq.com</span>找到我</p>
  <p>非常期待你的交流一起进步</p>
</Container>

<style>
p {
  margin: 1rem 0;
}
</style>