<footer class="mt-8 text-center flex items-center flex-wrap justify-center gap-2">
  <p>
    &copy;&nbsp;2023
  </p>
  <p>
    <a class="underline underline-dashed text-$p-color underline-offset-4" href="https://github.com/zhu-hong" target="_blank">zhu-hong</a>&nbsp;All&nbsp;rights&nbsp;reserved.
  </p>
  <p>
    PowerBy&nbsp;<a class="underline underline-dashed text-$p-color underline-offset-4" href="https://astro.build" target="_blank">Astro</a>
  </p>
</footer>